body {
  font-family: "Share Tech Mono"
}

.centered-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 960px;
}

section {
  header {
    display: inline-block;
    margin-right: 15px;
  }

  aside {
    display: inline-block;
    margin-left: 15px;

    ul {
      padding-left: 0;

      li {
        margin-right: 2px;
        display: inline-block;
        font-size: 2em;
      }
    }
  }
}

a {
  text-decoration: none;
  color: #333;

  u {
    text-decoration: none;

    &:hover {
      border-bottom: 3px solid #77FFBB;
    }
  }
}

h1 a:hover {
  -webkit-animation: hover-change ease-out 2s infinite alternate;
  -moz-animation: hover-change ease-out 2s infinite alternate;
  animation: hover-change ease-out 2s infinite alternate;
}

@keyframes hover-change {
    0% {color: #5EE6A2;}
   20% {color: #77FFBB;}
   40% {color: #91FFD5;}
   60% {color: #AAFFEE;}
   80% {color: #C4FFFF;}
  100% {color: #DDFFFF;}
}

@-webkit-keyframes hover-change {
    0% {color: #5EE6A2;}
   20% {color: #77FFBB;}
   40% {color: #91FFD5;}
   60% {color: #AAFFEE;}
   80% {color: #C4FFFF;}
  100% {color: #DDFFFF;}
}

@-moz-keyframes hover-change {
    0% {color: #5EE6A2;}
   20% {color: #77FFBB;}
   40% {color: #91FFD5;}
   60% {color: #AAFFEE;}
   80% {color: #C4FFFF;}
  100% {color: #DDFFFF;}
}
