<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>svankmajer.net</title>
    <%= stylesheet_link_tag "all" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <%= yield %>
  </body>
</html>
