<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>svankmajer.net</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag "all" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>
    <%= yield %>
  </body>
</html>
