<section class="container">
  <aside>
    <ul>
      <li>
        <% link_to "https://github.com/horacio" do %>
          <u>code</u>
        <% end %>
      </li>
      <li>
        <% link_to "#" do %>
          <u>blog</u>
        <% end %>
      </li>
      <li>
        <% link_to "https://twitter.com/5vankmajer" do %>
          <u>tweets</u>
        <% end %>
      </li>
      <li>
        <% link_to "https://www.last.fm/user/hbertorello" do %>
          <u>scrobbles</u>
        <% end %>
      </li>
      <li>
        <% link_to "http://psiclopedia.svankmajer.net" do %>
          <u>psychlopedia</u>
        <% end %>
      </li>
      <li>
        <% link_to "#" do %>
          <u>queue</u>
        <% end %>
      </li>
    </ul>
  </aside>
</section>
