<section class="container">
  <header>
    <h1>
      <a href="/">svankmajer</a>
    </h1>
  </header>
  <aside>
    <ul>
      <li>
        <% link_to "https://github.com/svankmajer" do %>
          <u>code</u>
        <% end %>
      </li>
      <li>
        <% link_to "http://blog.svankmajer.net" do %>
          <u>blog</u>
        <% end %>
      </li>
      <li>
        <% link_to "https://twitter.com/5vankmajer" do %>
          <u>tweets</u>
        <% end %>
      </li>
      <li>
        <% link_to "http://www.last.fm/user/svankie" do %>
          <u>scrobbles</u>
        <% end %>
      </li>
      <li>
        <% link_to "#" do %>
          <u>queue</u>
        <% end %>
      </li>
      <li>
        <% link_to "#" do %>
          <u>transient</u>
        <% end %>
      </li>
    </ul>
  </aside>
</section>
