<section class="container introduction">
  <article>
    <p class="lead">
      Hello—I'm Horacio Bertorello,
      <%= link_to "@svankmajer", "https://keybase.io/svankmajer" -%> on Keybase.
    </p>
    <p>
      I'm a self-taught application developer interested in learning how to
      architect beautiful systems and bring them to their highest condition.
    </p>
    <p>
      I care about well-designed abstractions, free software, music theory,
      artificial intelligence, pharmaco-vigilance, poetry and respect for all
      human beings.
    </p>
    <p>
      I love being part of a global contributor network, because
      my concerns are global. Working with people it's one of the things I'm most
      passionate about and it always made me want to ever improve and push myself
      beyond my limitations.
    </p>
    <p>
      I enjoy good challenges and I'm always looking for something new to learn
      in depth and tell everyone about it.
    </p>
    <p>
      Feel free to contact me at
      <%= link_to "svankie@gmail.com", "mailto:svankie@gmail.com" -%>.
    </p>
  </article>
</section>
