---
title: svankmajer
---

<section class="centered-container">
  <header>
    <h1>
      <a href="#"><%= current_page.data.title %></a>
    </h1>
  </header>
  <aside>
    <ul>
      <li>
        <% link_to "#" do %>
          <u>blog</u>
        <% end %>
      </li>
      <li>
        <% link_to "#" do %>
          <u>code</u>
        <% end %>
      </li>
      <li>
        <% link_to "#" do %>
          <u>tweets</u>
        <% end %>
      </li>
      <li>
        <% link_to "#" do %>
          <u>scrobbles</u>
        <% end %>
      </li>
      <li>
        <% link_to "#" do %>
          <u>queue</u>
        <% end %>
      </li>
      <li>
        <% link_to "#" do %>
          <u>transient</u>
        <% end %>
      </li>
    </ul>
  </aside>
</section>
